<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.devaj.antonio.combustivel">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_login"></activity>

        <!-- <service android:name=".Util.ServicoVerifica" android:label="ServicoVerifica" android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <action android:name="SERVICE_VERIFICA" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- <receiver -->
        <!-- android:name=".Util.BroadcastVerifica" -->
        <!-- android:label="BroadcastVerifica"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <service android:name=".Util.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Util.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activity.TesteFS"
            android:label="@string/title_activity_teste_fs"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>